<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <!-- Config for LoginServlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewManagementServlet</servlet-name>
        <servlet-class>Controller.ReviewManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinancialDashboardServlet</servlet-name>
        <servlet-class>Controller.FinancialDashboardServlet</servlet-class>
        <servlet-name>CategoryMenuServlet</servlet-name>
        <servlet-class>Controller.CategoryMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getList</servlet-name>
        <servlet-class>Controller.getList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <!-- Config for LogoutServlet -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <!-- Config for UpdateAvatarServlet -->
    <servlet>
        <servlet-name>UpdateAvatarServlet</servlet-name>
        <servlet-class>Controller.UpdateAvatarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAvatarServlet</servlet-name>
        <url-pattern>/UpdateAvatarServlet</url-pattern>
    </servlet-mapping>
    <!-- Config for ProfileServlet -->
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>Controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <!-- Config for SuperCategoryServlet -->
    <servlet>
        <servlet-name>SuperCategoryServlet</servlet-name>
        <servlet-class>Controller.SuperCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuperCategoryServlet</servlet-name>
        <url-pattern>/Admin/SuperCategoryServlet</url-pattern>
    </servlet-mapping>
    <!-- Config for CustomerManagementServlet -->
    <servlet>
        <servlet-name>CustomerManagementServlet</servlet-name>
        <servlet-class>Controller.CustomerManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffManagementServlet</servlet-name>
        <servlet-class>Controller.StaffManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagementServlet</servlet-name>
        <servlet-class>Controller.AdminManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SexServlet</servlet-name>
        <servlet-class>Controller.SexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgeServlet</servlet-name>
        <servlet-class>Controller.AgeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>Controller.BrandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerManagementServlet</servlet-name>
        <url-pattern>/Admin/CustomerManagementServlet</url-pattern>
    </servlet-mapping>
    <!-- Config for RegisterServlet -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <!-- Config for SendVerificationServlet -->
    <servlet>
        <servlet-name>SendVerificationServlet</servlet-name>
        <servlet-class>Controller.SendVerificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendVerificationServlet</servlet-name>
        <url-pattern>/SendVerificationServlet</url-pattern>
    </servlet-mapping>
    <!-- Config for ResendVerificationServlet -->
    <servlet>
        <servlet-name>ResendVerificationServlet</servlet-name>
        <servlet-class>Controller.ResendVerificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResendVerificationServlet</servlet-name>
        <url-pattern>/ResendVerificationServlet</url-pattern>
    </servlet-mapping>
    <!-- Config for VerifyCodeServlet -->
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>Controller.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <!-- Session timeout config -->
    <servlet-mapping>
        <servlet-name>StaffManagementServlet</servlet-name>
        <url-pattern>/Admin/StaffManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagementServlet</servlet-name>
        <url-pattern>/Admin/AdminManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SexServlet</servlet-name>
        <url-pattern>/Admin/SexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgeServlet</servlet-name>
        <url-pattern>/Admin/AgeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/Admin/BrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewManagementServlet</servlet-name>
        <url-pattern>/Admin/ReviewManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinancialDashboardServlet</servlet-name>
        <url-pattern>/Admin/FinancialDashboardServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <session-timeout>30</session-timeout>
</web-app>
