<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                               http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>getList</welcome-file>
    </welcome-file-list>
    <!--
    <welcome-file-list>
        <welcome-file>formComment.jsp</welcome-file>
    </welcome-file-list>
    -->
    <!--    <welcome-file-list>
        <welcome-file>ViewReview.jsp</welcome-file>
    </welcome-file-list> -->
    <!-- Servlet Configurations -->
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>Controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewManagementServlet</servlet-name>
        <servlet-class>Controller.ReviewManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>Controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAvatarServlet</servlet-name>
        <servlet-class>Controller.UpdateAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>Controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuperCategoryServlet</servlet-name>
        <servlet-class>Controller.SuperCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerManagementServlet</servlet-name>
        <servlet-class>Controller.CustomerManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffManagementServlet</servlet-name>
        <servlet-class>Controller.StaffManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SexServlet</servlet-name>
        <servlet-class>Controller.SexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgeServlet</servlet-name>
        <servlet-class>Controller.AgeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinancialDashboardServlet</servlet-name>
        <servlet-class>Controller.FinancialDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagementServlet</servlet-name>
        <servlet-class>Controller.ProductManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingMethodServlet</servlet-name>
        <servlet-class>Controller.ShippingMethodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendVerificationServlet</servlet-name>
        <servlet-class>Controller.SendVerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendVerificationServlet</servlet-name>
        <servlet-class>Controller.ResendVerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>Controller.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getList</servlet-name>
        <servlet-class>Controller.getList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>Controller.BrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialServlet</servlet-name>
        <servlet-class>Controller.MaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriceRange</servlet-name>
        <servlet-class>Controller.PriceRange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OriginServlet</servlet-name>
        <servlet-class>Controller.OriginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>Controller.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPageServlet</servlet-name>
        <servlet-class>Controller.LoginPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPageServlet</servlet-name>
        <servlet-class>Controller.RegisterPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendVerificationPage</servlet-name>
        <servlet-class>Controller.SendVerificationPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendVerificationPage</servlet-name>
        <servlet-class>Controller.ResendVerificationPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodePage</servlet-name>
        <servlet-class>Controller.VerifyCodePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentMethodServlet</servlet-name>
        <servlet-class>Controller.PaymentMethodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutPage</servlet-name>
        <servlet-class>Controller.LogoutPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordPage</servlet-name>
        <servlet-class>Controller.ForgotPasswordPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordPage</servlet-name>
        <servlet-class>Controller.ResetPasswordPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>Controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderView</servlet-name>
        <servlet-class>Controller.OrderView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderServlet</servlet-name>
        <servlet-class>Controller.ManageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartManagementServlet</servlet-name>
        <servlet-class>Controller.CartManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileStaffServlet</servlet-name>
        <servlet-class>Controller.ProfileStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAvatarPage</servlet-name>
        <servlet-class>Controller.UpdateAvatarPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>Controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductServlet</servlet-name>
        <servlet-class>Controller.updateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>Controller.NotificationServlet</servlet-class>
    </servlet>
    <!-- Thêm vào cấu hình cho MarkNotificationReadServlet -->
    <servlet>
        <servlet-name>MarkNotificationReadServlet</servlet-name>
        <servlet-class>Controller.MarkNotificationReadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCustomerServlet</servlet-name>
        <servlet-class>Controller.OrderCustomerServlet</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>PriceRangeServlet</servlet-name>
        <servlet-class>Controller.PriceRangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateAccountServlet</servlet-name>
        <servlet-class>Controller.DeactivateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>Controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionController</servlet-name>
        <servlet-class>Controller.PromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPromotionServlet</servlet-name>
        <servlet-class>Controller.AddPromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePromotion</servlet-name>
        <servlet-class>Controller.UpdatePromotion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyVoucherServlet</servlet-name>
        <servlet-class>Controller.ApplyVoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>Controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleStatusOrderOfCustomer</servlet-name>
        <servlet-class>Controller.HandleStatusOrderOfCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoMoPaymentServlet</servlet-name>
        <servlet-class>Controller.MoMoPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayPaymentServlet</servlet-name>
        <servlet-class>Controller.VNPayPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayReturnServlet</servlet-name>
        <servlet-class>Controller.VNPayReturnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPaymentMethodsServlet</servlet-name>
        <servlet-class>Controller.GetPaymentMethodsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetShippingMethodsServlet</servlet-name>
        <servlet-class>Controller.GetShippingMethodsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendVerificationServlet</servlet-name>
        <url-pattern>/ResendVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendVerificationServlet</servlet-name>
        <url-pattern>/SendVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAvatarServlet</servlet-name>
        <url-pattern>/UpdateAvatarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerManagementServlet</servlet-name>
        <url-pattern>/Admin/CustomerManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffManagementServlet</servlet-name>
        <url-pattern>/Admin/StaffManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagementServlet</servlet-name>
        <url-pattern>/Admin/ProductManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingMethodServlet</servlet-name>
        <url-pattern>/Admin/ShippingMethodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewManagementServlet</servlet-name>
        <url-pattern>/ReviewManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewManagementServlet</servlet-name>
        <url-pattern>/Admin/ReviewManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinancialDashboardServlet</servlet-name>
        <url-pattern>/Admin/FinancialDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/Admin/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuperCategoryServlet</servlet-name>
        <url-pattern>/Admin/SuperCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SexServlet</servlet-name>
        <url-pattern>/Admin/SexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgeServlet</servlet-name>
        <url-pattern>/Admin/AgeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getList</servlet-name>
        <url-pattern>/getList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/Admin/BrandServlet</url-pattern>
    </servlet-mapping>
    <!-- Cua Loc -->
    <servlet-mapping>
        <servlet-name>OriginServlet</servlet-name>
        <url-pattern>/Admin/OriginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderView</servlet-name>
        <url-pattern>/Admin/OrderView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderServlet</servlet-name>
        <url-pattern>/Admin/OrderServlet</url-pattern>
    </servlet-mapping>
    <!-- Cua Luan -->
    <servlet-mapping>
        <servlet-name>MaterialServlet</servlet-name>
        <url-pattern>/Admin/MaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriceRange</servlet-name>
        <url-pattern>/PriceRange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPageServlet</servlet-name>
        <url-pattern>/Admin/LoginPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPageServlet</servlet-name>
        <url-pattern>/Admin/RegisterPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentMethodServlet</servlet-name>
        <url-pattern>/Admin/PaymentMethodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendVerificationPage</servlet-name>
        <url-pattern>/Admin/SendVerificationPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendVerificationPage</servlet-name>
        <url-pattern>/Admin/ResendVerificationPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodePage</servlet-name>
        <url-pattern>/Admin/VerifyCodePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutPage</servlet-name>
        <url-pattern>/Admin/LogoutPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordPage</servlet-name>
        <url-pattern>/Admin/ForgotPasswordPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordPage</servlet-name>
        <url-pattern>/Admin/ResetPasswordPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/ProductDetailServlet</url-pattern>
    </servlet-mapping>
    <!-- Session Timeout -->
    <servlet-mapping>
        <servlet-name>CartManagementServlet</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RoleServlet</servlet-name>
        <servlet-class>Controller.RoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoleServlet</servlet-name>
        <url-pattern>/Admin/RoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileStaffServlet</servlet-name>
        <url-pattern>/Admin/ProfileStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAvatarPage</servlet-name>
        <url-pattern>/Admin/UpdateAvatarPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/Admin/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductServlet</servlet-name>
        <url-pattern>/Admin/updateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/Admin/NotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkNotificationReadServlet</servlet-name>
        <url-pattern>/MarkNotificationReadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderCustomerServlet</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriceRangeServlet</servlet-name>
        <url-pattern>/Admin/PriceRangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateAccountServlet</servlet-name>
        <url-pattern>/DeactivateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionController</servlet-name>
        <url-pattern>/Admin/promotionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPromotionServlet</servlet-name>
        <url-pattern>/Admin/addPromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePromotion</servlet-name>
        <url-pattern>/Admin/UpdatePromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyVoucherServlet</servlet-name>
        <url-pattern>/ApplyVoucherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleStatusOrderOfCustomer</servlet-name>
        <url-pattern>/CancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoMoPaymentServlet</servlet-name>
        <url-pattern>/MoMoPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayPaymentServlet</servlet-name>
        <url-pattern>/VNPayPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayReturnServlet</servlet-name>
        <url-pattern>/VNPayReturnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPaymentMethodsServlet</servlet-name>
        <url-pattern>/GetPaymentMethodsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetShippingMethodsServlet</servlet-name>
        <url-pattern>/GetShippingMethodsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
