/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 25, 2025, 8:07:43 PM
    Author     : admin1
*/


/* Footer styles */
footer {
    background-color: #fdfdfd;
    padding: 20px 50px;
    border-top: 2px solid #d8d5d5;
    color: black;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
}

.payment-methods img,
.shipping-partners img {
    max-width: 50px;
    margin: 5px;
    background-color: white;
    padding: 7px;
}
