/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 7, 2025, 7:39:43 PM
    Author     : admin1
*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container-fluid2 {
    height: 110vh;
    background-image: url("../img/login_img/img2.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 6%;
}


.form-container {
    margin: 140px 15% 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .14);
    width: 100%;
    max-width: 400px;
    position: relative;
}

/* Kiểu cho form */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-login button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.form-login button:hover {
    opacity: 0.8;
}

.form-login button[type="submit"] {
    background-color: white;
    color: white;
}

.form-login button.login-btn {
    border-radius:20px;
    background: rgb(255, 89, 0);
    color: white;
}
.FP {
    display: flex;
   
}
.FP a, span{
     font-size: 16px;
}