/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 7, 2025, 4:47:46 PM
    Author     : le minh khoa
*/

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../assets/img/back-forgot.jpg);
    background-size: cover;
}

.reset-password-container {
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7); 
    max-width: 450px;
    margin: 0 auto;
    margin-top: 250px;
}

h3 {
    font-weight: 700;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

.form-control {
    border-radius: 8px;
    box-shadow: none;
    font-size: 16px;
}

.btn-primary {
    background-color: #ff5722;
    border-color: #ff5722;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
    border-radius: 8px;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: #e64a19;
    border-color: #e64a19;
}

.alert {
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    background-color: rgb(231, 231, 231);
    border: none;
    color: #0d47a1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}